# # Server-side proxy target for Next route handlers
# BETTER_SERVER_URL=https://sofor-api.fly.dev
# # Legacy fallback still supported by the proxy helpers
# NEXT_PUBLIC_BETTER_SERVER=https://sofor-api.fly.dev
# # BETTER_AUTH_SECRET= # not required in sofor-client; set this on sofor-server instead


BETTER_SERVER_URL=https://sofor-api.nazshakib01.workers.dev
NEXT_PUBLIC_BETTER_SERVER=https://sofor-api.nazshakib01.workers.dev #http://localhost:5000
# NEXT_PUBLIC_BETTER_SERVER=http://localhost:5000
BETTER_AUTH_SECRET=o2JW1Bv1Lj2ohj48bGpeyo7kZcYXiIpu #same secret value from backend

# pusher
NEXT_PUBLIC_PUSHER_KEY=88fd69bd7dc08d002866
NEXT_PUBLIC_PUSHER_CLUSTER=ap2 