# NEXT_PUBLIC_BETTER_SERVER=https://sofor-server.vercel.app #http://localhost:5000
NEXT_PUBLIC_BETTER_SERVER=http://localhost:5000
BETTER_AUTH_SECRET=o2JW1Bv1Lj2ohj48bGpeyo7kZcYXiIpu #same secret value from backend