# NEXT_PUBLIC_BETTER_SERVER=https://sofor-server-hono.biplob-asanibir.workers.dev #http://localhost:5000
NEXT_PUBLIC_BETTER_SERVER=https://sofor-api.fly.dev
BETTER_AUTH_SECRET=o2JW1Bv1Lj2ohj48bGpeyo7kZcYXiIpu #same secret value from backend